/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --acid-green: #b8b42d;
    --citron: #9EA93F;
    --pistachio: #9fc97e;
    --dark-jungle-green: #001514;
    --dark-olive-green: #60712F;
    --pine-green: #157a6e;
    --light-sea-green: #22aaa1;
    --forest-green: #014421;
    --pomona-green: #1e4d2b;
    --fresh-green: #1e441e;
    --white-smoke: #d6d6d6;
    --white-smoke-shadow: #a6a6a6;
    --lemon-chiffon: #FBF8CC;
    --champagne-pink: #FDE4CF;
    --baby-pink: #FFCFD2;
    --electric-blue: #8EECF5;
    --mauve: #CFBAF0;
    --magic-mint: #98F5E1;
    --fiery-rose: #F45866;
    --fiery-rose-shadow: #9f3a42;
    --snow: #FFFBFF;
    --xiketic-black: #1E1014;
    --black-olive: #30332E;
    --white: #FEFEFF;
    --light-gray: #D3D4D9;
    --alice-blue: #E9F1F7;
    --cultured: #F5F3F5;
    --platinum: #DCE1DE;
    --shadow-platinum: #DCE1DEAA;
    --manatee: #8D98A7;
    --transparent-forest-green: #00200FDA;
    --mustard: #ffd856;
    --pumpkin-orange: #ff7145;
    --electric-pink: #FF3366;
    --deep-saffron: #FF9933;
    --burnt-sienna: #EE6C4D;
    --mint: #03CEA4;
    --amber: #FFC100;
    --shadow-amber: #ffbf00b9;
    --fading-amber: #ffbf0084;
    --celestial-blue: #20A4F3;
    --yale-blue: #24406A;
    --shadow-yale-blue: #172945bf;
    --rich-black: #040f0f;
    --shadow-rich-black: #040f0faa;
    --raisin-black: #1A1825;
    --licorice: #110403;
    --black-bean: #290000;
    --smoky-black: #100E04;
    --overlay-shadow: #000000be;
}